$bg: white;
$bg1: gray;
$bg2: orange;
$bg3: blue;

$fontColor: black;
$fontColor1: white;
$fontColor2: blue;
$fontColor3: green;

$btnColor: greenyellow;
$btnColor1: white;
$btnColor2: green;
$btnColor3: gray;

@mixin background_color {
  [theme="theme"] {
    background: $bg;
  }
  [theme="theme1"] {
    background:  $bg1;
  }
  [theme="theme2"] {
    background:  $bg2;
  }
  [theme="theme3"] {
    background:  $bg3;
  }
}

@mixin fontColor {
  [theme="theme"] {
    color: $fontColor;
  }
  [theme="theme1"] {
    color: $fontColor1;
  }
  [theme="theme2"] {
    color: $fontColor2;
  }
  [theme="theme3"] {
    color: $fontColor3;
  }
}
@mixin btn_border {
  [theme="theme"] {
    .content {
      p {
        border-color: $btnColor;
      }
    }
  }
  [theme="theme1"] {
    .content {
      p {
        border-color: $btnColor1;
      }
    }
  }
  [theme="theme2"] {
    .content {
      p {
        border-color: $btnColor2;
      }
    }
  }
  [theme="theme3"] {
    .content {
      p {
        border-color: $btnColor3;
      }
    }
  }
}