body {
  --fontColor: red;
  --bgColor: white;
}
body.theme1 {
  --fontColor: white;
  --bgColor: black;
}
body.theme2 {
  --fontColor: white;
  --bgColor: gray;
}
body.theme3 {
  --fontColor: orange;
  --bgColor: blue;
}